* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: linear-gradient(
      rgba(0, 0, 0, 0.3), /* 투명 레이어 */
      rgba(0, 0, 0, 0.3)
  ),
  url('/public/images/background.webp'); /* public 디렉토리 기준 배경 이미지 경로 */
  background-position: center; /* 중앙에 배치 */
  background-repeat: repeat; /* 반복 금지 */
  color: black; /* 기본 텍스트 색상 */
}

html,
#root {
  height: 100%; /* 전체 높이 설정 */
}
