.container {
  background: linear-gradient(
      rgba(0, 0, 0, 0.3), /* 투명 레이어 */
      rgba(0, 0, 0, 0.3)
  ),
  url('/public/images/background.webp'); /* 상세페이지용 배경 이미지 경로 */
  background-position: center; /* 중앙 배치 */
  background-repeat: no-repeat; /* 반복 금지 */
  background-size: cover; /* 이미지 크기 조정 */
  color: white; /* 텍스트 색상 */
  min-height: 100vh; /* 화면 높이를 꽉 채움 */
  padding: 20px; /* 콘텐츠 여백 */
}

.loader {
  font-size: 24px;
  color: #2c3e50;
}

.movie {
  display: flex;
  gap: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.movie__img {
  width: 300px;
  border-radius: 8px;
  object-fit: cover;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 28px;
  color: #2c3e50;
  margin: 0;
}

.year {
  font-size: 18px;
  color: #7f8c8d;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  color: #2c3e50;
}

.genres {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
}

.genre {
  background-color: #3498db;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
}

.starRating {
  display: flex;
  gap: 5px;
  font-size: 24px;
}

.starFilled {
  color: #f39c12;
}

.starEmpty {
  color: #bdc3c7;
}
